 * {box-sizing:border-box;
        margin:0;
        padding:0;
    } 
body {
    display:flex;
    justify-content: center;
    background: url(../gradienta-P7KnvzCYDEQ-unsplash.jpg); 
}
#container {
    margin-top: 100px;
    
    position: relative;
    border: 1px solid transparent;
    opacity:0.8;
    width: 50rem;
    height: 25rem;
    border-radius:20px;
    padding: 2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;

}
h1 {
    text-align: center;
    margin: 0 auto;
}
    #quotebox {
    font-size:25px;
    margin-top: 30px;
    text-align: center;
}
#author {
    text-align: right;
    font-size: 22px;
}
.button {
    text-align: center;
    padding: 10px;
}
#quotebtn {
    border: 1px solid black;
    border-radius: 20px;
     font-size: 20px;
     font-weight: 500;
     font-family: 'Trebuchet MS','Time New Roman',sans-serif;
     color: #000000;
     margin-top: 40px;
     width: 150px;
     height: 50px;
     /* border-radius: 30px; */
     background-color: aliceblue;
}
#quotebtn:hover {
    color: #000000;
    background-color: #CAE5FF;

}
#footer {
    
    width: 100%;
    height: 2.5rem; 
    padding: 15px;
    width: 100%;
    height: 100%;  
}
